# === ClientManagementSystem (Java, Maven, IDEs) ===
HELP.md
/ClientManagementSystem/target/
/ClientManagementSystem/.mvn/wrapper/maven-wrapper.jar
!ClientManagementSystem/**/src/main/**/target/
!ClientManagementSystem/**/src/test/**/target/
/ClientManagementSystem/src/main/resources/application.properties

# STS
/ClientManagementSystem/.apt_generated
/ClientManagementSystem/.classpath
/ClientManagementSystem/.factorypath
/ClientManagementSystem/.project
/ClientManagementSystem/.settings
/ClientManagementSystem/.springBeans
/ClientManagementSystem/.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/ClientManagementSystem/nbproject/private/
/ClientManagementSystem/nbbuild/
/ClientManagementSystem/dist/
/ClientManagementSystem/nbdist/
/ClientManagementSystem/.nb-gradle/
/ClientManagementSystem/build/
!ClientManagementSystem/**/src/main/**/build/
!ClientManagementSystem/**/src/test/**/build/

# VS Code
.vscode/



# System files
.DS_Store
Thumbs.db
